$line-height: 1rem;
$header-height: 4 * $line-height;

$rule-size: 7.5%;
$rule-border: 5px;
$rule-margin: 1.5%;
$rule-width: calc(#{$rule-size} - #{$rule-border} - #{$rule-margin});

$rule-color: #efe4e4;
$line-color: #d9eaf3;
$cover-color: #50514F;
$text-color: #212e64;
$nav-bg-color: #247BA0;
$nav-active-bg-color: #50514F;
$code-highlight-color: #ffe066;
